body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container-fluid {}

.navbar {
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 3px grey;
  z-index: 1;
  position: fixed;
  clear: both;
  background-color: rgb(26, 35, 36);
}

.logo h4 {
  letter-spacing: 5px;
  color: #EF820D;
  text-decoration: none;
  font-size: 20px;
}

.logo a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding-top: 5px;
}

.nav-links a {
  color: #EF820D;
  text-decoration: none;
  font-size: 20px;
  align-items: center;
}

.nav-links li {
  list-style: none;
  font-family: 'Poiret One', cursive;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/pizza.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: unset;
  color: beige;
  font-family: 'Rochester', cursive;
  font-weight: bolder;
}

.banner i {
  font-size: 80px;
  color: aqua;
}
.about {
  padding-top: 50px;
}
#ordering{
  padding-top: 50px;
}
.card{
  padding: 0px;
}
#address{
  display: none;
}
